body
{
	background-repeat: no-repeat;
	background-color:lightgrey;
	background-size:350px;
	background-position:right top;
	background-attachment:fixed;
}

h1
{
	margin-left:20px;
	font:bold 50pt calibri;
}

span
{
	font:20pt arial black;
}

h1 span
{
	border:1px solid #dddddd;
	border-radius:10px;
	background-color:#dddddd;
	padding:5px;
	box-shadow:3px 3px 6px 3px black;
	font:bold 50pt calibri;
}

hr
{
	width:80%;
	margin:20px auto;
}

form
{
	display:inline;
}

input
{
	width:50px;
}

input, button
{
	font: 16pt calibri;
}

p
{
	text-align:center;
	font:20pt arial;
}

.box
{
	font: 16pt calibri;
	border: thick solid #dddddd;
	border-radius:10px;
	width:500px;
	margin-left:200px;
	padding: 20px;
	background-color:#dddddd;
	box-shadow:5px 5px 10px 8px black;
}