html
{
	background:url('images/bamboo-forest.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:100vw 100vh;
}

img.bullet
{
	display:none;
}

li:hover img.bullet
{
	display:inline;
	height:40px;
}
li
{
	list-style-type:none;
	width:175px;
	height:40px;
	padding:12px;
	font-weight:bold;
}

li, span
{
	background-color:#D9ECCA;
	color:#3E6022;
	opacity:0.85;
	border:2px solid #3E6022;
	border-radius:12px;
	box-shadow:8px 8px 5px darkgrey;
}

h1
{
	text-align:center;
	margin-top:100px;
}

h1 span
{
	padding:2px 6px;
}

img#displayimage
{
	display:none;
	margin-left:35%;
	margin-top:-260px;
	height:425px;
}